.container {
  display: flex;
  padding: 20px 32px;
}

.logo {
  flex-grow: 1;
  outline: none;
}

.icons {
  display: flex;
  gap: 20px;
}

.logout {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
